# Copy this file to .env.local and fill in the values for your environment.
# This file is safe to commit because it contains keys only, not secrets.

DATABASE_URL=
DATABASE_URL_UNPOOLED=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
